body {
    font-family: arial, sans-serif;
    line-height: 1.5;
    background: rgba(222, 176, 61, 0.97);
}

h1 {
    font-size: 38;
}

h2 {
    font-size: 32;
}

header > img {
  width: 100px;
}

.footer-header {
  font-size: 16;
}
.footer {
  font-size: 13;
}

.ingredients-list {
  list-style: square inside;
}

.grinding-items {
  list-style: square;
}

.link {
  text-decoration: none;
  color: antiquewhite;
}

ul > li > a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: circle;
}
